# dependencies
node_modules/
*/node_modules/

# environment
.env
.env.local
.env.*.local
*/.env

# builds
dist/
build/
backend/client/

# logs
*.log
npm-debug.log*
stderr.log
stdout.log

# editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# archives
*.zip
*.tar.gz